<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="49be21a8-cb0f-45d0-a960-b54c87ff2d8d" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="49be21a8-cb0f-45d0-a960-b54c87ff2d8dfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
