<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c0453e95-337c-413a-8195-5a0aa601a82f" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c0453e95-337c-413a-8195-5a0aa601a82ffileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
